
@media (max-width:767px) {
  .navigation-clean-button {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.btn {
  border-radius: 15px;
  text-decoration: none;
  font-family: 'Roboto';
}

.btn.focus, .btn:focus, .btn:hover {
  border: none;
}

.btn {
  font-weight: 400;
}

#navbarNav {
  color: aliceblue;
}